In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np

Mounted at /content/drive

<ipython-input-8-c1fcd09266c7>:3: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_추정매출 = pd.read_csv('/content/drive/MyDrive/ML프로젝트_우리사이/테스트 데이터/서울시 상권분석/Copy of 서울시 상권분석서비스(상권-추정매출).csv',encoding='CP949')

### 상권영역

In [ ]:
# 상권구역 컬럼 정리
상권구역.columns= ['기준_년_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '엑스좌표_값',
        '와이좌표_값', '시군구_코드', '행정동_코드', '형태정보']

### 직장인구

In [ ]:
# 직장인구 데이터 컬럼 정리 (필요한 데이터만 추출)
직장인 = df_직장인구.drop(['연령대_10_직장_인구_수',
        '연령대_20_직장_인구_수', '연령대_30_직장_인구_수', '연령대_40_직장_인구_수', '연령대_50_직장_인구_수',
        '연령대_60_이상_직장_인구_수', '남성연령대_10_직장_인구_수', '남성연령대_20_직장_인구_수',
        '남성연령대_30_직장_인구_수', '남성연령대_40_직장_인구_수', '남성연령대_50_직장_인구_수',
        '남성연령대_60_이상_직장_인구_수', '여성연령대_10_직장_인구_수', '여성연령대_20_직장_인구_수',
        '여성연령대_30_직장_인구_수', '여성연령대_40_직장_인구_수', '여성연령대_50_직장_인구_수',
        '여성연령대_60_이상_직장_인구_수'],axis=1)

In [ ]:

찐직장인.columns = ['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
        '총_직장_인구_수', '남성_직장_인구_수', '여성_직장_인구_수']

### 점포

### 추정매출

In [ ]:
추정매출 = df_추정매출.drop(['월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
        '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
        '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
        '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
        '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
        '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
        '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
        '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
        '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
        '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
        '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
        '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
        '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
        '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
        '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
        '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
        '연령대_50_매출_건수', '연령대_60_이상_매출_건수'],axis=1)

### 직장인 + 추정매출

In [ ]:
merge1 = 찐추정매출.merge(찐직장인, how = 'outer', on = ['기준_년_코드', '기준_분기_코드','상권_코드'] )

###  + 점포

In [ ]:
merge2 = merge1.merge(찐점포, how = 'outer', on = ['기준_년_코드', '기준_분기_코드','상권_코드'] )

In [ ]:
merge2.groupby(['기준_분기_코드', '상권_코드']).mean()

<ipython-input-20-cee7ac3790ce>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  merge2.groupby(['기준_분기_코드', '상권_코드']).mean()

                  기준_년_코드     분기당_매출_금액      분기당_매출_건수   주중_매출_비율   주말_매출_비율  \
기준_분기_코드 상권_코드
1        1001491   2022.0  1.829545e+09   62099.955556  72.222222  27.800000
         1001492   2022.0  5.529743e+09  203440.964912  81.929825  18.140351
         1001493   2022.0  3.992969e+09  145743.863636  75.318182  24.795455
         1001494   2022.0  3.815308e+09  100816.839286  80.571429  19.535714
         1001495   2022.0  2.029947e+09   98633.428571  70.857143  29.238095
...                   ...           ...            ...        ...        ...
4        2130322   2022.0  1.629318e+08    8404.600000  72.440000  27.720000
         2130323   2022.0  4.670885e+08   19232.517241  70.931034  29.241379
         2130324   2022.0  2.173042e+08   10353.296296  74.111111  25.925926
         2130325   2022.0  3.209493e+08   15874.250000  75.312500  24.937500
         2130326   2022.0  6.212800e+08   36537.160000  68.680000  31.320000

                  총_직장_인구_수  남성_직장_인구_수  여성_직장_인구_수        점포_수  유사_업종_점포_수  \
기준_분기_코드 상권_코드
1        1001491     5839.0      3064.0      2775.0   20.228916   21.180723
         1001492   104830.0     53674.0     51156.0   88.408602   94.806452
         1001493     6054.0      2958.0      3096.0  135.931034  138.149425
         1001494    32935.0     17150.0     15785.0   54.815217   57.239130
         1001495    24375.0     14199.0     10176.0   24.450549   27.032967
...                     ...         ...         ...         ...         ...
4        2130322        8.0         5.0         3.0    3.219512    3.341463
         2130323      171.0        86.0        85.0    4.545455    4.840909
         2130324      154.0        85.0        69.0    2.888889    3.000000
         2130325       89.0        30.0        59.0    3.032258    3.129032
         2130326      935.0       850.0        85.0    2.627451    3.078431

                      개업_율   개업_점포_수      폐업_률   폐업_점포_수  프랜차이즈_점포_수
기준_분기_코드 상권_코드
1        1001491  3.337349  0.566265  1.614458  0.192771    0.951807
         1001492  0.838710  0.795699  1.473118  0.946237    6.397849
         1001493  2.172414  0.712644  0.747126  1.632184    2.218391
         1001494  0.652174  0.586957  0.804348  0.554348    2.423913
         1001495  1.505495  0.428571  1.538462  0.384615    2.582418
...                    ...       ...       ...       ...         ...
4        2130322  1.487805  0.073171  2.048780  0.097561    0.121951
         2130323  2.454545  0.113636  1.181818  0.045455    0.295455
         2130324  3.466667  0.088889  2.400000  0.111111    0.111111
         2130325  2.419355  0.064516  4.709677  0.096774    0.096774
         2130326  4.392157  0.215686  0.686275  0.058824    0.450980

[6668 rows x 15 columns]

In [ ]:
merge2.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드_x', '상권_구분_코드_명_x', '상권_코드',
       '상권_코드_명_x', '서비스_업종_코드_x', '서비스_업종_코드_명_x', '분기당_매출_금액', '분기당_매출_건수',
       '주중_매출_비율', '주말_매출_비율', '점포수', '상권_구분_코드_y', '상권_구분_코드_명_y',
       '상권_코드_명_y', '총_직장_인구_수', '남성_직장_인구_수', '여성_직장_인구_수', '상권_구분_코드',
       '상권_구분_코드_명', '상권_코드_명', '서비스_업종_코드_y', '서비스_업종_코드_명_y', '점포_수',
       '유사_업종_점포_수', '개업_율', '개업_점포_수', '폐업_률', '폐업_점포_수', '프랜차이즈_점포_수'],
      dtype='object')

In [ ]:
final = merge2.drop(['상권_코드_명','상권_구분_코드_명', '상권_구분_코드',
                        '상권_구분_코드_y','상권_구분_코드_명_y',
                        '상권_코드_명_y','상권_구분_코드_y', '상권_구분_코드_명_y', '상권_코드_명_y'],axis=1)