# Latent Class Analysis for Tourism

## 1. 잠재계층분석(LCA) 진행

- LCA 분석을 적용한 데이터는 문화체육관광부에서 시행한 '2022 외래관광객조사' 자료임.

## [참고] LCA 분석에 사용된 카테고리 변수 (2022 외래관광객조사 (코드북) 참고)

### 1. RQ1: 문1. 방한횟수(카테고리)
- **변수 내용/질문사항:** 문1. 방한횟수(카테고리)
- **변수값/응답항목:**
    - 1: 1회
    - 2: 2회
    - 3: 3회
    - 4: 4회 이상

### 2. Q3: 주요 방한 목적
- **변수 내용/질문사항:** 주요 방한 목적
- **변수값/응답항목:**
    - 1: 여가/위락/휴식
    - 2: 친구/친지 방문
    - 3: 사업 또는 전문활동
    - 4: 교육
    - 5: 종교 및 순례
    - 6: 기타

### 3. Q4: 문4. 여행 형태
- **변수 내용/질문사항:** 문4. 여행 형태
- **변수값/응답항목:**
    - 1: 개별여행
    - 2: AIR-TEL
    - 3: 단체여행

### 4. RQ2A2: 문6-1. 총 체재기간(카테고리)
- **변수 내용/질문사항:** 문6-1. 총 체재기간(카테고리)
- **변수값/응답항목:**
    - 1: 1~3일
    - 2: 4~7일
    - 3: 8~10일
    - 11: 11~30일
    - 12: 31~60일
    - 13: 61~90일
    - 14: 91일 이상

### 5. C총액1인mis: 문7. 1인 평균 지출 경비_전체_총액 (최대금액 초과 결측, 카테고리)
- **변수 내용/질문사항:** 문7. 1인 평균 지출 경비_전체_총액 (최대금액 초과 결측, 카테고리)
- **변수값/응답항목:**
    - 1: 1,000$ 이하
    - 2: 1,000$ 초과 ~ 2,000$ 이하
    - 3: 2,000$ 초과 ~ 3,000$ 이하
    - 4: 3,000$ 초과 ~ 5,000$ 이하
    - 5: 5,000$ 초과 ~ 10,000$ 이하
    - 6: 10,000$ 초과
    - 98: 최대금액 초과자

### 6. RDAY평균: 문7. 1인 평균 지출 경비_전체_총액 (61일 이상 & 최대금액 초과 제외, 카테고리)
- **변수 내용/질문사항:** 문7. 1인 평균 지출 경비_전체_총액 (61일 이상 & 최대금액 초과 제외, 카테고리)
- **변수값/응답항목:**
    - 1: 50\$ 이하
    - 2: 50\$ 초과 ~ 100\$ 이하
    - 3: 100\$ 초과 ~ 300\$ 이하
    - 4: 300\$ 초과 ~ 500\$ 이하
    - 5: 500\$ 초과

### 7. Q7: 문7. 한국여행에 대한 전반적 만족도
- **변수 내용/질문사항:** 문7. 한국여행에 대한 전반적 만족도
- **변수값/응답항목:**
    - 1: 매우 불만족
    - 2: 대체로 불만족
    - 3: 보통
    - 4: 대체로 만족
    - 5: 매우 만족

### 8. D_BUN: 분기별
- **변수 내용/질문사항:** 분기별
- **변수값/응답항목:**
    - 1: 1분기
    - 2: 2분기
    - 3: 3분기
    - 4: 4분기

### 9. D_SEX: 성별
- **변수 내용/질문사항:** 성별
- **변수값/응답항목:**
    - 1: 남성
    - 2: 여성

### 10. D_AGE: 연령별
- **변수 내용/질문사항:** 연령별
- **변수값/응답항목:**
    - 1: 15-20세
    - 2: 21-30세
    - 3: 31-40세
    - 4: 41-50세
    - 5: 51-60세
    - 6: 61세 이상

### 11. D_NAT_CLUST: 국가별 클러스터
- **변수 내용/질문사항:** 국가별 클러스터 (D_NAT 변수를 기반으로 그룹화)
- **변수값/응답항목:**
    - 동아시아 (일본, 중국, 홍콩, 대만)
    - 동남아시아 (싱가포르, 태국, 말레이시아, 필리핀, 인도네시아, 베트남, 몽골)
    - 오세아니아,중동 (호주, 중동)
    - 북아메리카 (미국, 캐나다)
    - 유럽 (영국, 독일, 프랑스, 러시아)
    - 기타 (위에 언급되지 않은 국가)

### 12. 만족한 활동 변수들: Q4B1~Q4B3 (문5-1. 가장 만족한 활동)
- **변수 내용/질문사항:** 문5-1. 가장 만족한 활동
- **변수값/응답항목:**
    - 1: 식도락 관광
    - 2: 쇼핑
    - 3: 자연경관 감상
    - 4: 고궁/역사 유적지 방문
    - 5: 전통문화체험
    - 6: 박물관, 전시관 관람
    - 7: K-POP/한류스타 관련 공연장 방문
    - 8: 드라마/영화 촬영지 방문
    - 9: 연극, 뮤지컬, 발레 등 공연 관람
    - 10: 지역 축제 참여
    - 11: 유흥/오락
    - 12: 뷰티/의료관광
    - 13: 스포츠/레포츠 관람 및 참가 비즈니스 활동
    - 14: 업무수행
    - 15: 연수/교육/연구
    - 16: 시찰(산업시설 등)
    - 17: 기타

In [1]:
# 작업 디렉토리 설정
getwd()

[1] "/content"

In [2]:
# 라이브러리 로드
library(dplyr)
library(readr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [3]:
# 파일 유무 확인
file.exists("/content/tour_전처리_0720.csv")

[1] TRUE

In [4]:
# 데이터 불러오기
tourism <- read.csv("/content/tour_전처리_0720.csv")
str(tourism)

'data.frame':	15436 obs. of  14 variables:
 $ RQ1        : int  4 1 1 1 1 3 3 4 1 1 ...
 $ Q3         : int  2 3 2 1 3 2 2 2 3 3 ...
 $ Q4         : int  1 1 1 1 1 1 1 1 1 1 ...
 $ RQ2A2      : int  12 2 11 12 2 12 12 12 3 3 ...
 $ C총액1인MIS: int  3 3 1 3 3 3 3 3 2 2 ...
 $ RDAY평균   : num  2 4 1 2 4 2 2 2 3 3 ...
 $ Q7         : int  5 4 5 5 4 5 5 5 4 4 ...
 $ D_BUN      : int  1 1 1 1 1 1 1 1 1 1 ...
 $ D_SEX      : int  1 1 1 1 1 1 2 1 1 1 ...
 $ D_AGE      : int  2 5 2 5 5 6 5 4 2 2 ...
 $ 체류1순위  : chr  "서울일TOT" "부산일TOT" "서울일TOT" "서울일TOT" ...
 $ 체류2순위  : chr  "없음" "없음" "없음" "없음" ...
 $ D_NAT_CLUST: chr  "유럽" "기타" "동아시아" "기타" ...
 $ 만족한활동 : int  4 14 2 4 1 1 1 3 2 2 ...

In [5]:
# 변수 타입 변환
tourism$RQ1 <- as.factor(tourism$RQ1)
tourism$Q3 <- as.factor(tourism$Q3)
tourism$Q4 <- as.factor(tourism$Q4)
tourism$RQ2A2 <- as.factor(tourism$RQ2A2)
tourism$C총액1인MIS <- as.factor(tourism$C총액1인MIS)
tourism$RDAY평균 <- as.factor(tourism$RDAY평균)
tourism$Q7 <- as.factor(tourism$Q7)
tourism$D_BUN <- as.factor(tourism$D_BUN)
tourism$D_SEX <- as.factor(tourism$D_SEX)
tourism$D_AGE <- as.factor(tourism$D_AGE)
tourism$체류1순위 <- as.factor(tourism$체류1순위)
tourism$체류2순위 <- as.factor(tourism$체류2순위)
tourism$D_NAT_CLUST <- as.factor(tourism$D_NAT_CLUST)
tourism$만족한활동 <- as.factor(tourism$만족한활동)

In [6]:
# 데이터 구조 확인
str(tourism)

'data.frame':	15436 obs. of  14 variables:
 $ RQ1        : Factor w/ 4 levels "1","2","3","4": 4 1 1 1 1 3 3 4 1 1 ...
 $ Q3         : Factor w/ 6 levels "1","2","3","4",..: 2 3 2 1 3 2 2 2 3 3 ...
 $ Q4         : Factor w/ 3 levels "1","2","3": 1 1 1 1 1 1 1 1 1 1 ...
 $ RQ2A2      : Factor w/ 5 levels "1","2","3","11",..: 5 2 4 5 2 5 5 5 3 3 ...
 $ C총액1인MIS: Factor w/ 5 levels "1","2","3","4",..: 3 3 1 3 3 3 3 3 2 2 ...
 $ RDAY평균   : Factor w/ 5 levels "1","2","3","4",..: 2 4 1 2 4 2 2 2 3 3 ...
 $ Q7         : Factor w/ 5 levels "1","2","3","4",..: 5 4 5 5 4 5 5 5 4 4 ...
 $ D_BUN      : Factor w/ 4 levels "1","2","3","4": 1 1 1 1 1 1 1 1 1 1 ...
 $ D_SEX      : Factor w/ 2 levels "1","2": 1 1 1 1 1 1 2 1 1 1 ...
 $ D_AGE      : Factor w/ 6 levels "1","2","3","4",..: 2 5 2 5 5 6 5 4 2 2 ...
 $ 체류1순위  : Factor w/ 17 levels "강원일TOT","경기일TOT",..: 9 8 9 9 8 9 9 12 9 9 ...
 $ 체류2순위  : Factor w/ 18 levels "강원일TOT","경기일TOT",..: 11 11 11 11 11 11 11 8 11 11 ...
 $ D_NAT_CLUST: Factor w/ 6 levels "기타","동남아시아",..: 6 1 3 1 1 1 1 6 1 1 ...
 $ 만족한활동 : Factor w/ 17 levels "1","2","3","4",..: 4 14 2 4 1 1 1 3 2 2 ...

In [7]:
summary(tourism)

 RQ1      Q3       Q4        RQ2A2     C총액1인MIS RDAY평균 Q7        D_BUN
 1:7143   1:7063   1:13998   1 :1106   1:1818      1: 387   1:   15   1:1092
 2:2680   2:2207   2:  738   2 :5950   2:3935      2:1202   2:   34   2:4073
 3:1530   3:5222   3:  700   3 :2620   3:4044      3:7140   3:  362   3:5049
 4:4083   4: 566             11:4829   4:3814      4:3684   4: 3768   4:5222
          5:  29             12: 931   5:1825      5:3023   5:11257
          6: 349

 D_SEX    D_AGE        체류1순위         체류2순위             D_NAT_CLUST
 1:7658   1: 674   서울일TOT:11022   없음     :8681   기타           :2495
 2:7778   2:5284   경기일TOT: 1291   부산일TOT:1835   동남아시아     :3583
          3:4125   인천일TOT:  523   서울일TOT:1606   동아시아       :3257
          4:2793   부산일TOT:  477   제주일TOT: 884   북아메리카     :2773
          5:1893   제주일TOT:  416   경기일TOT: 583   오세아니아,중동: 956
          6: 667   대구일TOT:  290   강원일TOT: 475   유럽           :2372
                   (Other)  : 1417   (Other)  :1372
   만족한활동
 2      :3095
 14     :2728
 1      :2594
 3      :1893
 4      :1759
 5      : 606
 (Other):2761

## 2. poLCA 패키지를 활용한 최적 클래스(군집) 수 결정

### `poLCA` 함수 구조
- `poLCA(formula, data, nclass=, verbose=, na.rm=)`
  - `formula` : 군집을 나누기 위한 변수의 묶음
  - `data` : 군집 분석을 수행할 데이터
  - `nclass` : 군집 개수 지정
  - `verbose` : 중간 결과 출력 여부 (`TRUE` / `FALSE`)
  - `na.rm` : 결측치 제외 여부 (`TRUE` / `FALSE`)

In [8]:
# poLCA 패키지 설치 및 로드
install.packages("poLCA")
library(poLCA)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Loading required package: scatterplot3d

Loading required package: MASS


Attaching package: ‘MASS’


The following object is masked from ‘package:dplyr’:

    select

In [9]:
# LCA 분석을 위한 formula 설정
tourism_formula <- cbind(RQ1, Q3, Q4, RQ2A2, C총액1인MIS, RDAY평균, Q7, D_BUN, D_SEX, D_AGE, 체류1순위, 체류2순위, D_NAT_CLUST, 만족한활동) ~ 1

In [10]:
# 클래스(군집) 기준변수로만 이루어진 데이터 프레임 생성
tourism_fac <- dplyr::select(tourism, RQ1, Q3, Q4, RQ2A2, C총액1인MIS, RDAY평균, Q7, D_BUN, D_SEX, D_AGE, 체류1순위, 체류2순위, D_NAT_CLUST, 만족한활동)

In [11]:
# tourism_fac

### 군집 기준변수로 이루어진 데이터프레임 생성

- 군집 수에 따른 AIC와 BIC 값을 비교하여 최적 군집 수 결정

### 군집 수 결정 과정
1. 군집 수에 따른 정보를 저장할 빈 리스트 생성
2. `for` 문을 이용하여 군집 수에 따른 반복 분석 실시 및 결과 저장
3. 리스트에 저장된 결과에서 AIC와 BIC 값을 추출하여 비교

In [12]:
# 최적 클래스(군집) 수 결정 (AIC와 BIC 값 계산)
tourism_lca_list <- list()
set.seed(1234)
for (k in 1:10) {
  tourism_lca_list[[k]] <- poLCA(tourism_formula, tourism_fac, nclass = k, verbose = FALSE, na.rm = TRUE)
}

In [13]:
optimal_k_result <- data.frame(k = integer(), aic = numeric(), bic = numeric())
for (k in 1:10) {
  result <- data.frame(k = k, aic = tourism_lca_list[[k]]$aic, bic = tourism_lca_list[[k]]$bic)
  optimal_k_result <- rbind(optimal_k_result, result)
}

In [14]:
optimal_k_result

   k  aic      bic
1   1 561130.9 561811.3
2   2 537967.4 539335.8
3   3 525417.6 527474.0
4   4 519678.2 522422.5
5   5 516446.1 519878.5
6   6 512732.2 516852.5
7   7 510072.6 514880.9
8   8 507694.9 513191.2
9   9 506323.7 512508.1
10 10 504472.7 511345.1

## 3. 최적 군집 수 결정

- **AIC** 값은 클래스 수가 증가할수록 계속 감소하여 최적 모형을 찾기 어려움
- **BIC** 기준으로 최적 군집 수는 **4개**
- 따라서 군집 개수 4개일 때의 모형을 최적 모형으로 선정

In [15]:
# 최적 군집 수 선택 (BIC 기준으로 4개 선택)
tourism_optimal <- tourism_lca_list[[4]]  # k = 4

In [16]:
tourism_optimal

Conditional item response (column) probabilities,
 by outcome variable, for each class (row)

$RQ1
               1      2      3      4
class 1:  0.6953 0.1561 0.0660 0.0826
class 2:  0.4390 0.1725 0.0975 0.2910
class 3:  0.3312 0.1959 0.1236 0.3493
class 4:  0.3539 0.1721 0.1121 0.3619

$Q3
               1      2      3      4      5      6
class 1:  0.7224 0.1801 0.0286 0.0689 0.0000 0.0000
class 2:  0.1451 0.4500 0.1897 0.0896 0.0093 0.1161
class 3:  0.8416 0.0670 0.0688 0.0070 0.0003 0.0153
class 4:  0.0037 0.0044 0.9884 0.0010 0.0011 0.0013

$Q4
               1      2      3
class 1:  0.9644 0.0064 0.0292
class 2:  0.9255 0.0223 0.0522
class 3:  0.8842 0.0364 0.0794
class 4:  0.8573 0.1154 0.0273

$RQ2A2
               1      2      3     11     12
class 1:  0.0002 0.1262 0.2293 0.5832 0.0611
class 2:  0.0083 0.1267 0.1748 0.4907 0.1995
class 3:  0.1716 0.6670 0.1224 0.0387 0.0003
class 4:  0.0897 0.5410 0.1481 0.1836 0.0376

$C총액1인MIS
               1      2      3      4      5
class 1:  0.0181 0.2231 0.3488 0.3180 0.0918
class 2:  0.0897 0.2413 0.2967 0.2624 0.1100
class 3:  0.3289 0.4033 0.1708 0.0669 0.0301
class 4:  0.0443 0.1601 0.2357 0.3292 0.2307

$RDAY평균
               1      2      3      4      5
class 1:  0.0075 0.0828 0.6332 0.2013 0.0752
class 2:  0.0806 0.1924 0.5130 0.1600 0.0540
class 3:  0.0284 0.0639 0.5013 0.2683 0.1381
class 4:  0.0096 0.0224 0.2218 0.2939 0.4523

$Q7
               1      2      3      4      5
class 1:  0.0008 0.0010 0.0074 0.1555 0.8353
class 2:  0.0008 0.0035 0.0219 0.2005 0.7733
class 3:  0.0010 0.0036 0.0237 0.2565 0.7153
class 4:  0.0012 0.0016 0.0408 0.3490 0.6074

$D_BUN
               1      2      3      4
class 1:  0.0375 0.2984 0.4156 0.2485
class 2:  0.1404 0.3161 0.3414 0.2022
class 3:  0.0179 0.1303 0.2492 0.6026
class 4:  0.1152 0.3210 0.2981 0.2656

$D_SEX
               1      2
class 1:  0.3486 0.6514
class 2:  0.4946 0.5054
class 3:  0.2701 0.7299
class 4:  0.8568 0.1432

$D_AGE
               1      2      3      4      5      6
class 1:  0.0767 0.5102 0.2035 0.0954 0.0822 0.0319
class 2:  0.0664 0.3356 0.2794 0.1415 0.0975 0.0797
class 3:  0.0394 0.3863 0.2644 0.1725 0.1028 0.0346
class 4:  0.0007 0.1312 0.3294 0.2994 0.1966 0.0428

$체류1순위
          강원일TOT 경기일TOT 경남일TOT 경북일TOT 광주일TOT 대구일TOT 대전일TOT
class 1:     0.0000    0.0004    0.0008    0.0000    0.0000    0.0016    0.0004
class 2:     0.0274    0.2654    0.0329    0.0300    0.0204    0.0337    0.0324
class 3:     0.0021    0.0012    0.0003    0.0007    0.0011    0.0017    0.0018
class 4:     0.0095    0.1452    0.0435    0.0156    0.0062    0.0440    0.0218
          부산일TOT 서울일TOT 세종일TOT 울산일TOT 인천일TOT 전남일TOT 전북일TOT
class 1:     0.0002    0.9940    0.0000    0.0005    0.0000    0.0000    0.0000
class 2:     0.0836    0.2567    0.0079    0.0129    0.0712    0.0194    0.0136
class 3:     0.0136    0.8930    0.0000    0.0002    0.0191    0.0004    0.0014
class 4:     0.0496    0.5116    0.0068    0.0197    0.0621    0.0109    0.0114
          제주일TOT 충남일TOT 충북일TOT
class 1:     0.0016    0.0005    0.0000
class 2:     0.0512    0.0217    0.0197
class 3:     0.0628    0.0000    0.0006
class 4:     0.0072    0.0213    0.0136

$체류2순위
          강원일TOT 경기일TOT 경남일TOT 경북일TOT 광주일TOT 대구일TOT 대전일TOT
class 1:     0.0483    0.0383    0.0110    0.0246    0.0073    0.0126    0.0072
class 2:     0.0287    0.0287    0.0075    0.0118    0.0024    0.0076    0.0076
class 3:     0.0395    0.0380    0.0004    0.0025    0.0010    0.0013    0.0004
class 4:     0.0057    0.0421    0.0100    0.0071    0.0026    0.0173    0.0129
          부산일TOT 서울일TOT 세종일TOT   없음 울산일TOT 인천일TOT 전남일TOT
class 1:     0.3091    0.0000    0.0022 0.3416    0.0052    0.0281    0.0041
class 2:     0.0303    0.3775    0.0026 0.4197    0.0010    0.0187    0.0065
class 3:     0.0443    0.0201    0.0024 0.7901    0.0016    0.0218    0.0002
class 4:     0.0378    0.1382    0.0036 0.6630    0.0104    0.0300    0.0056
          전북일TOT 제주일TOT 충남일TOT 충북일TOT
class 1:     0.0094    0.1465    0.0019    0.0027
class 2:     0.0037    0.0349    0.0057    0.0053
class 3:     0.0048    0.0291    0.0012    0.0011
class 4:     0.0044    0.0025    0.0038    0.0030

$D_NAT_CLUST
            기타 동남아시아 동아시아 북아메리카 오세아니아,중동   유럽
class 1:  0.2132     0.2352   0.0119     0.2161          0.0726 0.2510
class 2:  0.1711     0.1214   0.1977     0.2876          0.0793 0.1428
class 3:  0.0201     0.4267   0.4747     0.0454          0.0227 0.0104
class 4:  0.2319     0.1124   0.1849     0.2047          0.0770 0.1891

$만족한활동
               1      2      3      4      5      6      7      8      9     10
class 1:  0.1465 0.1669 0.1855 0.2053 0.0819 0.0496 0.0351 0.0151 0.0087 0.0056
class 2:  0.1926 0.1892 0.1558 0.1149 0.0470 0.0373 0.0085 0.0033 0.0058 0.0085
class 3:  0.2694 0.3435 0.1177 0.0470 0.0182 0.0125 0.0607 0.0193 0.0131 0.0014
class 4:  0.0844 0.1112 0.0434 0.0794 0.0098 0.0215 0.0001 0.0000 0.0027 0.0018
              11     12     13     14     15     16     17
class 1:  0.0543 0.0155 0.0153 0.0004 0.0095 0.0002 0.0047
class 2:  0.0226 0.0268 0.0934 0.0043 0.0310 0.0001 0.0586
class 3:  0.0432 0.0343 0.0092 0.0012 0.0006 0.0002 0.0082
class 4:  0.0147 0.0007 0.0014 0.6154 0.0070 0.0057 0.0007

Estimated class population shares
 0.2969 0.1573 0.2604 0.2853

Predicted class memberships (by modal posterior prob.)
 0.3025 0.1473 0.2617 0.2885

=========================================================
Fit for 4 latent classes:
=========================================================
number of observations: 15436
number of estimated parameters: 359
residual degrees of freedom: 15077
maximum log-likelihood: -259480.1

AIC(4): 519678.2
BIC(4): 522422.5
G^2(4): 223805.3 (Likelihood ratio/deviance statistic)
X^2(4): 66401306031 (Chi-square goodness of fit)

## 4. 각 클래스 별 비율 분석

- 군집별 응답자 비율 확인

In [17]:
# 세분시장 별 비율 출력
round(tourism_optimal$P, digits = 3)

[1] 0.297 0.157 0.260 0.285

## 5. 항목반응행렬 (Item-Response Matrix) 도출

### 항목반응행렬 생성 과정
1. `poLCA` 결과값 중 `probs` 값을 데이터프레임으로 저장
2. 소수점 3째 자리까지 반올림
3. 행렬을 전치 (`t()` 함수 사용)
4. 데이터 타입을 `data.frame`으로 변환

In [18]:
# 항목반응행렬(Item-response matrix) 도출
tourism_item_response <- as.data.frame(tourism_optimal$probs)
tourism_item_response <- round(tourism_item_response, digits = 3)
tourism_resp <- t(tourism_item_response)
tourism_resp <- as.data.frame(tourism_resp)
write.csv(tourism_resp, file = "lca_output_4class.csv")

## 6. 군집 정보 추가 및 활용

- 각 군집의 속성은 항목반응행렬을 통해 확인 가능하며, 데이터 활용성을 높이기 위해 군집 변수 기준 결측치를 삭제한 원본 데이터 (`tour_전처리_0720.csv`)에 군집 정보를 추가하는 것이 유용함

In [19]:
# 군집 정보를 원본 데이터에 추가
tourism$class <- as.factor(tourism_optimal$predclass)

In [20]:
write.csv(tourism, file = "tourism_with_4class.csv")

In [21]:
lca_output <- read.csv("/content/lca_output_4class.csv")
str(lca_output)

'data.frame':	103 obs. of  5 variables:
 $ X        : chr  "RQ1.1" "RQ1.2" "RQ1.3" "RQ1.4" ...
 $ class.1..: num  0.695 0.156 0.066 0.083 0.722 0.18 0.029 0.069 0 0 ...
 $ class.2..: num  0.439 0.172 0.098 0.291 0.145 0.45 0.19 0.09 0.009 0.116 ...
 $ class.3..: num  0.331 0.196 0.124 0.349 0.842 0.067 0.069 0.007 0 0.015 ...
 $ class.4..: num  0.354 0.172 0.112 0.362 0.004 0.004 0.988 0.001 0.001 0.001 ...

In [22]:
tourism

      RQ1 Q3 Q4 RQ2A2 C총액1인MIS RDAY평균 Q7 D_BUN D_SEX D_AGE 체류1순위
1     4   2  1  12    3           2        5  1     1     2     서울일TOT
2     1   3  1  2     3           4        4  1     1     5     부산일TOT
3     1   2  1  11    1           1        5  1     1     2     서울일TOT
4     1   1  1  12    3           2        5  1     1     5     서울일TOT
5     1   3  1  2     3           4        4  1     1     5     부산일TOT
6     3   2  1  12    3           2        5  1     1     6     서울일TOT
7     3   2  1  12    3           2        5  1     2     5     서울일TOT
8     4   2  1  12    3           2        5  1     1     4     인천일TOT
9     1   3  1  3     2           3        4  1     1     2     서울일TOT
10    1   3  1  3     2           3        4  1     1     2     서울일TOT
11    4   3  1  12    3           2        5  1     1     3     인천일TOT
12    1   3  1  11    5           3        4  1     1     2     세종일TOT
13    1   3  1  11    4           4        5  1     1     3     서울일TOT
14    2   2  1  12    5           3        5  1     2     5     인천일TOT
15    4   2  1  12    4           2        5  1     2     3     서울일TOT
16    1   3  1  12    4           2        5  1     1     2     경기일TOT
17    1   3  1  11    5           3        4  1     1     4     제주일TOT
18    4   2  1  12    3           1        5  1     2     5     경기일TOT
19    1   4  1  12    4           2        5  1     1     2     서울일TOT
20    2   4  1  11    5           3        5  1     2     2     서울일TOT
21    2   3  1  3     5           5        5  1     2     2     서울일TOT
22    2   3  1  11    3           3        4  1     1     4     경기일TOT
23    2   1  1  3     5           5        5  1     2     3     서울일TOT
24    4   1  1  2     1           3        5  1     1     3     서울일TOT
25    4   2  1  12    4           3        5  1     1     2     경기일TOT
26    4   4  1  12    4           3        5  1     1     2     서울일TOT
27    4   1  1  12    4           3        5  1     2     2     서울일TOT
28    4   1  1  12    4           3        5  1     1     2     서울일TOT
29    4   3  1  12    5           3        5  1     1     6     울산일TOT
30    2   2  1  12    5           3        5  1     1     2     서울일TOT
⋮     ⋮   ⋮  ⋮  ⋮     ⋮           ⋮        ⋮  ⋮     ⋮     ⋮     ⋮
15407 2   1  1  2     1           3        5  4     2     2     서울일TOT
15408 2   1  1  2     3           5        4  4     2     2     서울일TOT
15409 2   1  1  2     2           4        5  4     2     2     서울일TOT
15410 4   2  1  11    1           2        5  4     2     3     서울일TOT
15411 2   1  1  2     3           5        5  4     2     4     서울일TOT
15412 3   1  1  2     2           3        4  4     2     2     서울일TOT
15413 4   3  1  11    4           3        4  4     1     5     서울일TOT
15414 4   3  1  2     4           5        5  4     2     5     서울일TOT
15415 1   1  1  2     3           4        5  4     2     2     서울일TOT
15416 1   1  1  2     1           3        5  4     2     2     전북일TOT
15417 1   3  1  2     4           5        5  4     1     5     서울일TOT
15418 3   3  1  2     4           4        4  4     1     2     경기일TOT
15419 1   2  1  3     3           4        4  4     2     2     서울일TOT
15420 2   3  1  2     4           5        5  4     1     2     서울일TOT
15421 2   3  1  3     5           5        5  4     2     2     서울일TOT
15422 2   3  2  3     4           4        5  4     2     3     서울일TOT
15423 1   3  1  2     5           5        4  4     1     4     충북일TOT
15424 1   1  1  11    3           3        5  4     2     2     서울일TOT
15425 1   1  1  2     3           3        5  4     1     3     서울일TOT
15426 2   4  1  1     1           3        5  4     1     2     부산일TOT
15427 4   2  1  1     1           3        5  4     2     4     부산일TOT
15428 4   2  1  2     2           3        5  4     2     5     광주일TOT
15429 1   1  1  2     2           4        5  4     2     2     서울일TOT
15430 1   1  1  11    2           3        5  4     2     2     서울일TOT
15431 2   1  1  2     4           5        5  4     1     3     부산일TOT
15432 4   3  1  11    3           3        4  4     1     6     서울일TOT
15433 3   1  1  1     2           4        5  4     1     6     부산일TOT
15434 4   1  1  1     2           5        5  4     2     6     부산일TOT
15435 4   3  1  12    1           1        4  4     1     3     부산일TOT
15436 1   1  1  2     3           4        5  4     1     3     서울일TOT
      체류2순위 D_NAT_CLUST     만족한활동 class
1     없음      유럽            4          2
2     없음      기타            14         4
3     없음      동아시아        2          2
4     없음      기타            4          1
5     없음      기타            1          4
6     없음      기타            1          2
7     없음      기타            1          2
8     부산일TOT 유럽            3          2
9     없음      기타            2          4
10    없음      기타            2          4
11    없음      오세아니아,중동 14         4
12    서울일TOT 기타            14         4
13    부산일TOT 기타            14         4
14    없음      유럽            1          2
15    인천일TOT 유럽            8          2
16    없음      북아메리카      14         4
17    없음      동아시아        1          4
18    없음      동아시아        1          2
19    부산일TOT 동아시아        1          2
20    부산일TOT 동남아시아      15         1
21    없음      동남아시아      1          4
22    없음      북아메리카      14         4
23    없음      동남아시아      1          3
24    경기일TOT 동남아시아      2          3
25    없음      오세아니아,중동 2          2
26    전남일TOT 동남아시아      15         2
27    부산일TOT 동남아시아      3          1
28    부산일TOT 동남아시아      1          1
29    없음      동남아시아      14         4
30    울산일TOT 북아메리카      2          2
⋮     ⋮         ⋮               ⋮          ⋮
15407 없음      동아시아        5          3
15408 없음      동아시아        2          3
15409 제주일TOT 북아메리카      4          1
15410 없음      동아시아        1          3
15411 없음      동아시아        2          3
15412 강원일TOT 동아시아        7          3
15413 경남일TOT 기타            14         4
15414 없음      동아시아        2          4
15415 없음      동아시아        2          3
15416 서울일TOT 동남아시아      2          3
15417 없음      기타            2          4
15418 없음      기타            14         4
15419 경기일TOT 북아메리카      11         1
15420 없음      기타            4          4
15421 없음      오세아니아,중동 6          4
15422 부산일TOT 기타            1          4
15423 없음      유럽            2          4
15424 경남일TOT 기타            2          1
15425 부산일TOT 기타            4          1
15426 없음      동아시아        3          3
15427 없음      동아시아        3          3
15428 없음      동아시아        3          3
15429 부산일TOT 유럽            6          1
15430 부산일TOT 동남아시아      4          1
15431 경북일TOT 북아메리카      3          2
15432 인천일TOT 북아메리카      14         4
15433 없음      동아시아        3          3
15434 없음      동아시아        2          3
15435 없음      유럽            14         4
15436 부산일TOT 유럽            4          1